<h2>Comentarios de los usuarios</h2>
<vwn-post>
    <p class="name">Pepito</p>
    <p class="contenido">Lorem <b>ipsum</b> dolor, sit amet consectetur adipisicing elit. Ipsam expedita sed sequi asperiores modi porro nobis ullam repudiandae placeat, voluptate magni, et eum possimus! Doloremque tenetur tempore doloribus eos ut.</p>
</vwn-post>
<vwn-post>
    <p class="name">Antonio</p>
    <p class="contenido">Sit amet consectetur adipisicing elit. Ipsam expedita sed sequi asperiores modi porro nobis ullam repudiandae placeat, voluptate magni, et eum possimus! Doloremque tenetur tempore doloribus eos ut.</p>
</vwn-post>