:host {
    color: rgb(98, 0, 255);
    width: 100;
    min-height: 20vh;
    display: block;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}