<h2>List MultiElement</h2>
<vwn-nueva (eventAdd)="addTask($event)" (eventDelete)="deleteTasks()"></vwn-nueva>
<ng-container *ngIf="tasks.length;else aviso">
    <h3>Tasks List</h3>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of tasks; let pos = index">
            <vwn-item [task]="item" [index]="pos" (evDelete)="deleteTasks($event)" (evCheck)="changeState($event)"></vwn-item>
        </li>
    </ul>
</ng-container>
<ng-template #aviso>
    <p>let's go</p>
</ng-template>